@font-face {
     font-family: 'Quicksand', sans-serif, bold;
     src: url('../fonts/Quicksand-Bold.ttf');
 }

.background{
    -fx-background-image: url("../images/blue.png");

 }

.text {
    -fx-fill: white;
    -fx-font-family: 'Quicksand', sans-serif, bold;
 }

#indicator {
    -fx-progress-color: #c0e8e8;
}

