@font-face {
    font-family: 'Gentium Book Basic';
    src: url('../fonts/gentium-book-basic.bold-italic.ttf');
}

#loadingPane {
    -fx-background-color: #7dcdcd;
}

#team {
    -fx-font-size: 5em;
    -fx-font-family: 'Gentium Book Basic';
    -fx-fill: #e0efef;

}

#product {
    -fx-font-size: 10em;
    -fx-fill: #e0efef;
    -fx-font-family: 'Gentium Book Basic';

}

#phrase {
    -fx-font-size: 3em;
    -fx-fill: #e0efef;
    /*-fx-font-family: 'Gentium Book Basic';*/
}

#indicator {
    -fx-progress-color: #c0e8e8;
}
