 @font-face {
     font-family: 'Quicksand', sans-serif, bold;
     src: url('../fonts/Quicksand-Bold.ttf');
 }


.table-view {
    -fx-background-color: transparent;
    -fx-font-family: 'Quicksand', sans-serif, bold;

}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-family: 'Quicksand', sans-serif, bold;
    -fx-font-size: 10pt;
}


.table-view .table-column {
    -fx-alignment: CENTER;
}


#finish-list {
    -fx-background-color: white;
}


.button {
    -fx-background-color: transparent;
}

#windPane {
    -fx-font-family: 'Quicksand', sans-serif, bold;
}

.slider .track{
    -fx-background-color: grey;
    -fx-background-radius: 10px;
    -fx-opacity: 0.5;
    -fx-border-color: black;
    -fx-track-width: 15px;
    -fx-border-width: 4px;
    -fx-border-radius: 10px;
    -fx-pref-width: 30px;

}


.slider .thumb{
    -fx-color: black;
    -fx-border-color: black;
    -fx-border-width: 5px;
    -fx-border-radius: 5px;

    }

.label {
    -fx-font-family: 'Quicksand', sans-serif, bold;

}

.text{
    -fx-font-family: 'Quicksand', sans-serif, bold;
}