.menu-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: 'Quicksand', sans-serif, bold;
    -fx-font-variant: small-caps;
    -fx-font-size: 25pt;
    -fx-text-alignment: center;
    -fx-radius: 5px;
}

.menu-button.button:hover {
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-border-width: 4px;
    -fx-border-radius: 6px;
    -fx-background-color: transparent;
}