@font-face {
     font-family: 'Quicksand', sans-serif;
     src: url('../fonts/Quicksand-Regular.ttf');
 }
 @font-face {
     font-family: 'Quicksand', sans-serif, bold;
     src: url('../fonts/Quicksand-Bold.ttf');
 }

.background {
    -fx-background-color: #2980B9;
}

.label {
    -fx-font-family: 'Quicksand', sans-serif;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-opacity: 0.8;
    -fx-font-family: 'Quicksand', sans-serif;
    -fx-font-size: 12pt;
    -fx-font-weight: 700;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}




.button:hover {
    -fx-background-color: #dddddd;

}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-background-radius: 10px;

}

.button:focused {
    -fx-background-radius: 10px;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #929B9B;
    -fx-text-fill: white;
}

.text-field {
    -fx-padding: 5 22 5 22;
    -fx-font-size: 11pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
}

.text-field:disabled {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-opacity: 1;
}


.progress-indicator {
    -fx-progress-color: white;

}

.list-cell {
    -fx-font-family: 'Quicksand', sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #444444;
    -fx-cell-size: 40px;
    -fx-padding: 2px;
    -fx-background-color: transparent, -fx-background;
    -fx-background-insets: 0px, 2px;
    -fx-label-padding: 0, 0, 0, 0;
    -fx-alignment: center;
}

.list-cell:empty {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 2px;
}

.table-view {
    -fx-background-color: transparent;
    -fx-font-family: 'Quicksand', sans-serif, bold;

}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-family: 'Quicksand', sans-serif, bold;
    -fx-font-size: 10pt;
}


.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-view .table-cell {
    -fx-font-weight: bold;
}

.table-view .scroll-bar:horizontal .increment-arrow,
.table-view .scroll-bar:horizontal .decrement-arrow,
.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
 }


.merriweather {
    -fx-font-family: 'merriweather';
}



