@font-face {
     font-family: 'Quicksand', sans-serif;
     src: url('../fonts/Quicksand-Regular.ttf');
 }
 @font-face {
     font-family: 'Quicksand', sans-serif, bold;
     src: url('../fonts/Quicksand-Bold.ttf');
 }

.background {
    -fx-background-color: #2980B9;
}

.label {
    -fx-font-family: 'Quicksand', sans-serif;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-opacity: 0.8;
    -fx-font-family: 'Quicksand', sans-serif;
    -fx-font-size: 12pt;
    -fx-font-weight: 700;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: 'Quicksand', sans-serif, bold;
    -fx-font-variant: small-caps;
    -fx-font-size: 25pt;
    -fx-text-alignment: center;
    -fx-radius: 5px;
}

.menu-button.button:hover {
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-border-width: 4px;
    -fx-border-radius: 6px;
    -fx-background-color: transparent;
}

#controlbutton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: #dddddd;

}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-background-radius: 4;

}

.button:focused {
    -fx-background-radius: 4;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #929B9B;
    -fx-text-fill: white;
}

.text-field {
    -fx-padding: 5 22 5 22;
    -fx-font-size: 11pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
}


#finish-list {
    -fx-background-color: white;
}

.list-cell {
    -fx-font-family: 'Quicksand', sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #444444;
    -fx-cell-size: 40px;
    -fx-padding: 2px;
    -fx-background-color: transparent, -fx-background;
    -fx-background-insets: 0px, 2px;
    -fx-label-padding: 0, 0, 0, 0;
    -fx-alignment: center;
}

.list-cell:empty {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 2px;
}







/*****************************************************/
/*                   RACE VIEW                       */
/*****************************************************/

.combo-box {
    -fx-min-width: 128;
    -fx-min-height: 30;
    -fx-background-color: white;
    -fx-opacity: 0.8;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: #0014A8;
    -fx-background-color: white;
    -fx-opacity: 0.8;

}

.combo-box .cell:selected {
    -fx-text-fill: #0014A8;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #ececec;
    -fx-text-fill: black;
    -fx-opacity: 0.8;

}

.check-box .box {
    -fx-border-color: white;
    -fx-border-width: 0;
    -fx-background-color: white;
    -fx-opacity: 0.8;
    -fx-font-family: 'Quicksand', sans-serif;
    -fx-font-size: 11pt;

}

.check-box:selected .box {

    -fx-background-color: grey;
}

.check-box .mark {
    -fx-background-color: white;
}

.radio-button .radio {

    -fx-background-color: white;
}

.radio-button .dot {
    -fx-mark-color: grey;
    -fx-padding: 6px;

}

.radio-button .label {
    -fx-font-family: 'Quicksand', sans-serif;
    -fx-font-size: 11pt;
}

.progress-indicator {
    -fx-progress-color: white;

}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;

    -fx-font-family: 'Quicksand', sans-serif;
    -fx-font-size: 10pt;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.merriweather {
    -fx-font-family: 'merriweather';
}



